.container-lima {
    width: 500px;
    height: 500px;
    margin: 50px auto;
    background: url(bg2.png);
    display: flex;
  
  }

.kotak {
    width: 400px;
    height: 400px;
    border-radius: 20px;
    background-color: rgb(252, 246, 239);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    line-height: 5px;
    margin: auto;
    display: flex;
    flex-direction: column;
  }

.kotak span {
    margin: auto;
    padding: 20px;
  }

.kotak img {
    width: 150px;
    padding: 20px;
    border-radius: 50px;
    opacity: 1;
  }

h2, h3 {
    color: darkgreen;
  }

p {
    font-size: 13px;
  }