* {
  margin: 0;
  padding: 0;
}
body {
  background-color: rgb(144, 205, 230);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.container {
  width: 70%;
  height: 600px;
  margin: 70px auto;

  background-color: white;
  box-shadow: 0px 6px 20px 10px rgba(48, 117, 134, 0.75);
}
.navbar {
  display: flex;
  justify-content: space-around;
  height: 90px;
  align-items: center;
}

.navbar ul {
  display: flex;
  /* justify-content: space-around; */
  list-style: none;
  width: 40%;
  justify-content: space-between;
}

.navbar ul li a {
  text-decoration: none;
  color: black;
  font-family: "Arvo", serif;
}

.sign {
  width: 20%;
  display: flex;
  justify-content: space-between;
}

.content {
  display: flex;
  justify-content: space-around;
}

.main {
  /* background-color: yellow; */
  width: 50%;
}

.content .picture {
  width: 100px;
  height: 150px;
}

.content .picture .logo {
  display: flex;
  justify-self: space-around;
}

.picture .logo img {
  width: 50px;
  height: 50px;
  margin: 5px 15px;
}

.main h1 {
  font-family: "Mukta", sans-serif;
  font-size: 50px;
  font-weight: bold;
}
.main p {
  font-family: "Mukta", sans-serif;
  color: rgba(57, 59, 59, 0.247);
}
.link {
  box-shadow: 0px 6px 20px 2px rgba(25, 25, 26, 0.75);
}

.main .link {
  background-color: green;
  display: flex;
  justify-content: space-between;
}

.main .link .about {
  background-color: rgb(167, 212, 241);
  width: 50%;
  height: 50px;
  line-height: 50px;
  text-align: center;
  color: black;
  text-decoration: none;
}
.main .link .portfolio {
  background-color: rgb(231, 101, 78);
  width: 50%;
  height: 50px;
  line-height: 50px;
  text-align: center;
  color: black;
  text-decoration: none;
}

/* Responsive  */

/* tablet */
@media screen and (max-width: 768px) {
  .navbar ul {
    width: 50%;
  }
  .main h1 {
    font-family: "Mukta", sans-serif;
    font-size: 30px;
    font-weight: bold;
  }
  .content .picture img {
    width: 150px;
    height: 200px;
  }
  .picture .logo img {
    width: 40px;
    height: 40px;
    margin: 5px 5px;
  }
}

/* ukuran mobile */
@media screen and (max-width: 576px) {
  .navbar ul {
    display: none;
  }
  .container {
    display: block;
  }
  .content {
    display: block;
    /* margin: auto 50px;
    width: 80%; */
    /* background-color: violet; */
  }

  .content .picture img {
    width: 50px;
    height: 60px;
    border-radius: 70%;
  }
  .picture .logo img {
    /* display: none; */
    width: 20px;
    height: 20px;
    margin: 5px 5px;
  }
  .content .main {
    /* background-color: green; */
    width: 100%;
  }
  .main h1 {
    font-family: "Mukta", sans-serif;
    font-size: 15px;
    font-weight: bold;
  }
  .main h1 {
    font-family: "Mukta", sans-serif;
    color: rgba(57, 59, 59, 0.247);

    font-size: 12px;
  }
}
