body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  background-image: url(bg.jpg);
  align-items: center;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  height: 500px;
  margin: auto;
  margin-top: 35px;
  text-align: center;
  background-color: rgb(58, 57, 57);
}

.title {
  color: grey;
  font-size: 18px;
}

h1 {
  color: white;
}

a {
  text-decoration: none;
  font-size: 22px;
  color: whitesmoke;
}

p {
  color: white;
  font-size: 20px;
}

.profile {
  position: relative;
  width: 640px;
  height: 575px;
  box-shadow: 0 15px 10px rgba(0, 0, 0, 0.3);
}
